# Ignore everything
*

# But descend into directories
!*/

# but still exclude generated folders
*.egg-info/
*.vscode/
*.dist/

# And permit certain filetypes
!*.md
!*.txt
!*.js
!*.json
!*.yaml
!*.sh
!*.py
!*.graphql
!*.cfg
!*.ini
!*.toml

# And dotfiles
!.gitignore
!.coveragerc

# And other miscellania
!CODEOWNERS
!Dockerfile
!Makefile
!Pipfile
!Pipfile.lock
