[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
e1839a8 = {path = ".",editable = true}
requests = {extras = ["security"]}
requests-toolbelt = *
progressbar2 = *
cryptography = {extras = ["security"]}
"boto3" = "*"
botocore = "*"
six = "*"
gradient-statsd = "*"
click = "*"
terminaltables = "*"
click-didyoumean = "*"
click-help-colors = "*"
colorama = "*"


[dev-packages]
twine = "*"
pypandoc = "*"
pytest = "*"
mock = "*"
coverage = "*"
tox = "*"
