version: 2.1

orbs:
  release-tools: paperspace/release-tools@0.1.1
  docker-tools: paperspace/docker-tools@0.0.4

_docker_image: &docker_image paperspace/gradient-sdk
_workspace_root: &workspace_root .

workflows:
  master:
    jobs:
      - test:
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - release-tools/release:
          name: create release
          context: semantic-release
          workspace: /root/gradient-cli
          requires:
            - test
          filters:
            branches:
              only: master

  pr:
    jobs:
      - test:
          filters:
            branches:
              ignore: master

  release:
    jobs:
      - deploy:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - docker-tools/tag:
          name: tag
          context: docker-deploy
          docker_username: ${DOCKER_USERNAME}
          docker_password: ${DOCKER_PASSWORD}
          docker_image: *docker_image
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - docker-tools/build_and_push:
          name: build_and_push_latest
          context: docker-deploy
          docker_username: ${DOCKER_USERNAME}
          docker_password: ${DOCKER_PASSWORD}
          workspace_root: *workspace_root
          docker_image: *docker_image
          docker_tag: latest
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
          docker_build_args: --build-arg VERSION=${CIRCLE_TAG}

executors:
  python-tox:
    docker:
      - image: themattrix/tox-base:latest
jobs:
  test:
    executor: python-tox
    steps:
      - checkout
      - run:
          name: Install package requirements
          command: make pip-install-dev
      - run:
          name: Run tests
          command: make run-tests

  deploy:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Make version.py
          command: |
            echo "Publishing version $CIRCLE_TAG"
            echo "version = \"${CIRCLE_TAG}\"" > gradient/version.py
      - run:
          name: import GPG key
          command: |
            export GPG_TTY=$(tty)
            echo -e "$GPG_KEY" | gpg --import --no-tty --batch --yes --passphrase "${GPG_PASSWORD}"
      - run:
          name: install python dependencies
          command: |
            make pip-install-dev
      - run:
          name: verify version is valid
          command: |
            python setup.py verify
      - run:
          name: init .pypirc
          command: |
            echo -e "[distutils]" >> ~/.pypirc
            echo -e "index-servers =" >> ~/.pypirc
            echo -e "    pypi" >> ~/.pypirc
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "repository: https://upload.pypi.org/legacy/" >> ~/.pypirc
            echo -e "username: paperspace" >> ~/.pypirc
            echo -e "password: $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: create packages
          command: |
            make build
      - run:
          name: sign packages
          command: |
            gpg --no-tty --batch --pinentry-mode loopback --armor --sign --local-user ${GPG_FINGERPRINT} --passphrase "${GPG_PASSWORD}" --detach-sign dist/gradient-*.*.*.tar.gz
      - run:
          name: upload to pypi
          command: |
            python -m twine upload dist/*

  build-docker:
