version: 2.1

executors:
  python-tox:
    docker:
      - image: themattrix/tox-base:latest

jobs:
  test:
    executor: python-tox
    steps:
      - checkout
      - run:
          name: Install package requirements
          command: make pip-install-dev
      - run:
          name: Run tests
          command: make run-tests

workflows:
  version: 2.1
  pipeline:
    jobs:
      - test
